{%extends 'all/base.html'%}
{%block content%}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6">

            {% if user.is_authenticated %}

            Username: {{user.username}}<br>
            Email:<strong> <em>{{user.email}}</em></strong>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-6">

                    {% if user.userprofile.photo%}
                    <img src="{{user.userprofile.photo.url}}" class="img-responsive"><br><br>

                    {%endif%}
                </div>
            </div>
        </div>
        {%endif%}
    </div>
</div>
{%endblock%}