#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(8, 24, 168);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }
#myBtn:hover {
    background-color: #555;
  }